<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>ScheduleApp</title>
  <link rel="stylesheet" href="../resources/css/carga.css">
  <meta http-equiv="refresh" content="2;URL=http://localhost:8080/ScheduleApp/faces/view/index.xhtml">
</head>

<body>
  <div class="py-5">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <svg class="base-triangle">
            <symbol id="triangle" viewBox="0 0 200 200">
              <path d="M100,0 200,200 0,200z"></path>
            </symbol>
          </svg>
          <div class="triangles-cont">
            <svg class="triangle">
              <use xlink:href="#triangle"></use>
            </svg>
            <svg class="triangle">
              <use xlink:href="#triangle"></use>
            </svg>
            <svg class="triangle">
              <use xlink:href="#triangle"></use>
            </svg>
            <svg class="triangle">
              <use xlink:href="#triangle"></use>
            </svg>
            <svg class="triangle">
              <use xlink:href="#triangle"></use>
            </svg>
            <svg class="triangle">
              <use xlink:href="#triangle"></use>
            </svg>
            <svg class="triangle">
              <use xlink:href="#triangle"></use>
            </svg>
            <svg class="triangle">
              <use xlink:href="#triangle"></use>
            </svg>
            <svg class="triangle">
              <use xlink:href="#triangle"></use>
            </svg>
            <svg class="triangle">
              <use xlink:href="#triangle"></use>
            </svg>
            <svg class="triangle">
              <use xlink:href="#triangle"></use>
            </svg>
            <svg class="triangle">
              <use xlink:href="#triangle"></use>
            </svg>
            <svg class="triangle">
              <use xlink:href="#triangle"></use>
            </svg>
          </div>
        </div>
        <div class="col-md-6">
          <h1 contenteditable="false" class="text-center" style="	text-shadow: 0px 20px 4px black;">Cargando</h1>
        </div>
      </div>
    </div>
  </div>


</body>

</html>